body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ffffff; 
    color: #473144;
    margin: 0;
    padding: 0;
}

h1, h2 {
    font-family: 'Lora', serif;
    color: #AF1B3F; 
}

a {
    color: #AF1B3F; 
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: white; 
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 3em;
}

nav {
    border-bottom: 2px solid #EFC69B; 
}

nav ul {
    display: flex;
    justify-content: flex-end; 
    padding: 0;
    list-style: none;
    border-top: 2px solid #EFC69B;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    font-size: 1.2em;
    padding: 10px;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}


article {
    background-color: #ffffff; 
    padding: 20px;
    border-left: 2px solid #EFC69B;
    margin-bottom: 20px;
}

.article-details {
    display: flex;
    flex-direction: column;
    text-align: right;
}

.article-details p {
    margin-bottom: 5px;
}

.article-content h2 {
    margin-top: 0;
}

.article-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.article-content img {
    width: 100%;
    /* max-width: 200px; */
    border-radius: 8px;

    display: block;
    margin: 0 auto;
    max-width: 250px;
}

.article-wrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr; 
    gap: 20px;
    margin-bottom: 40px;
}

.details-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: right;
    border-right: 2px solid #EFC69B;
    padding: 0 20px;
}

.content-column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

/* .details-column, .content-column, .filters-column {
    padding: 10px;
} */

.article-details .date {
    font-size: 1.2em;
}


article h2 {
    text-align: right;
}

article img {
    width: 100%;
    max-width: 200px; 
    border-radius: 8px;
}

.description {
    font-size: 1em;
    line-height: 1.5;
}

.filters-column {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #EFC69B;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: white; 
    margin-top: 20px;
}
